@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
:root {
  --surface: #f8f8f8;
  --on-surface: #302B2B;
  --on-surface-variant: #958F8F;

  --selection: #fde050;
  --on-selection: #302B2B;

  --transparent-line: #0000002a;
};

[data-theme="dark"] {
  --surface: #181818;
  --on-surface: #d6d3cd;
  --on-surface-variant: #666666;

  --selection: #fde050;
  --on-selection: #302B2B;

  --transparent-line: #ffffff1a;
}


